# Portainer binary
applications/portaneir/portainer_data

# Venv
.venv

# Documentantion (Should be created!)
documentation/

# Env files
applications/postgres/.env
applications/minio/.env
applications/trino/.env