# Portainer binary
applications/portaneir/portainer_data

# Venv
.venv

# Documentantion (Should be created!)
documentation/

# Env files
applications/postgres/.env
applications/minio/.env
applications/postgres/.env
applications/trino/.env
applications/spark/.env
applications/src/notebooks/.ipynb_checkpoints
applications/superset/.env
applications/superset/docker/.env
applications/airflow/.env   
applications/open_metadata/docker-volume
