services:
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    init: true
    restart: unless-stopped
    ports:
      - "9003:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data
    networks:
    - sparkanos

networks:
  sparkanos:
    external: true